<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sadi.smartdoorapp">
    <!--
      Adding permissions
      -Wake_Lock
      -C2D_Message
  -->
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.example.sadi.smartdoorapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.sadi.smartdoorapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash_screen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_ScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.user" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_Registration"
            android:label="User Registration 1 of 4"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.activity_registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_Registration2"
            android:label="User Registration 2 of 4"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.activity_registration2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_Registration3"
            android:label="User Registration 3 of 4"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.activity_registration3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".User_Registration4"
            android:label="User Registration 4 of 4"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.activity_registration4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sidePanel"
            android:label="@string/title_activity_side_panel"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.sidePanel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".Manage_Locks"
            android:label="@string/title_activity_manage_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Manage_Locks" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>


        <activity
            android:name=".Profile_Settings"
            android:label="@string/title_activity_manage_lock"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Profile_Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".Account_Settings"
            android:label="Account Settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Account_Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>


        <activity
            android:name=".Security_Settings"
            android:label="Security_Settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Security_Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>


        <activity
            android:name=".Forget_Password"
            android:label="Forget_Password"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Forget_Password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".Reset_Password"
            android:label="Reset_Password"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Reset_Password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".Acknowledgement_Page"
            android:label="Acknowledgement_Page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Acknowledgement_Page" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>


        <activity
            android:name=".Manage_Doors"
            android:label="Manage Doors"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Manage_Doors" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <activity
            android:name=".UserTips_Popup_Window"
            android:label="UserTips_Popup_Window"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.UserTips_Popup_Window" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
</activity>
        <activity
            android:name=".test_db"
            android:label="test_db"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.test_db" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <activity
            android:name=".Door_Info"
            android:label="Door_Info"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Door_Info" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Door_Info2"
            android:label="Door_Info2"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.Door_Info2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DoorInfo3"
            android:label="DoorInfo3"
            android:theme="@style/AppTheme.CustomeTheme">
            <intent-filter>
                <action android:name="com.example.sadi.smartdoorapp.DoorInfo3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewFullImage" android:label="View Full Image" android:parentActivityName=".ImageListView"> </activity>




        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
           GCM Receiver
       -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.gnirt69.gcmexample"/>
            </intent-filter>
        </receiver>
        <!--
          GCM Receiver Service
      -->
        <service android:name=".GCMPushReceiverService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!--
                   GCM Registration Intent Service
               -->
        <service android:name=".GCMRegistrationIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

    </application>

</manifest>